body {
    font-family: Arial, sans-serif;
    background-image: url('bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #f4f4f4;
    margin-top: 20px;
}

.character-section {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.character-section h2 {
    color: #f4f4f4;
    text-align: center;
    margin-bottom: 20px;
}

.character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.character-item {
    margin: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 10px;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    color: #f4f4f4;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.character-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.character-item p {
    margin: 5px 0 0;
    color: #f4f4f4;
    font-weight: bold;
}

.character-item a {
    text-decoration: none;
    color: inherit;
}

.character-item:hover {
    animation: bounce 0.5s;
}

.character-itel {
    margin: 10px;
    text-align: center;
    background-color: rgba(255, 105, 180, 0.4);
    padding: 10px;
    border-radius: 10px;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    color: #f4f4f4;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.character-itel img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.character-itel p {
    margin: 5px 0 0;
    color: #f4f4f4;
    font-weight: bold;
}

.character-itel a {
    text-decoration: none;
    color: inherit;
}

.character-itel:hover {
    animation: bounce 0.5s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.character-info {
    background-color: rgba(100, 100, 100, 0.4);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    color: #f4f4f4;
    font-weight: bold;
    text-align: center;
}

.character-info img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .character-info img {
        width: 500px;
        height: 500px;
    }
}

.forma-buttons {
    text-align: center;
    margin: 20px 0;
}

.forma-buttons button {
    background-color: #444;
    color: #f4f4f4;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.forma-buttons button:hover {
    background-color: #666;
}







.type-icon,
.type-abbr,
.type-icon-th {
  font-family: 'Fira Sans', sans-serif;
  background: #ccc;
  background-image: -webkit-linear-gradient(#ddd, #bbb);
  background-image: linear-gradient(#ddd, #bbb);
  border: 1px solid #aaa;
  border-radius: 2px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px #333;
  text-transform: uppercase
}

.type-icon:hover,
.type-abbr:hover,
.type-icon-th:hover,
.type-icon:active,
.type-abbr:active,
.type-icon-th:active,
.type-icon:focus,
.type-abbr:focus,
.type-icon-th:focus {
  color: #fff;
  text-decoration: none
}

.type-icon:link:hover,
.type-abbr:link:hover,
.type-icon-th:link:hover,
.type-icon:link:active,
.type-abbr:link:active,
.type-icon-th:link:active,
.type-icon:link:focus,
.type-abbr:link:focus,
.type-icon-th:link:focus {
  opacity: 0.85
}

.type-icon {
  display: inline-block;
  width: 77px;
  line-height: 1;
  margin: 1px 0;
  padding: 3px 0
}

.type-abbr {
  display: inline-block;
  width: 40px;
  height: 32px;
  line-height: 32px
}

.type-icon-th {
  float: left;
  width: 77px;
  height: 32px;
  margin-left: 1px;
  line-height: 32px
}

.type-icon-th:first-child {
  margin-left: 0
}

.type-male {
  background: #6890f0;
  background-image: -webkit-linear-gradient(#6890f0, #386ceb);
  background-image: linear-gradient(#6890f0, #386ceb);
  border-color: #1753e3
}

.type-female {
  background: #e898e8;
  background-image: -webkit-linear-gradient(#e898e8, #de6ede);
  background-image: linear-gradient(#e898e8, #de6ede);
  border-color: #d547d5
}

.type-none {
  background: #8a8a59;
  background-image: -webkit-linear-gradient(#a8a878, #8a8a59);
  background-image: linear-gradient(#a8a878, #8a8a59);
  border-color: #79794e
}

.type-creation {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#ff8000, #ffffff);
  border-color: #ffffff
}

.type-emotions {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#ff2ee7, #ffffff);
  border-color: #ffffff
}

.type-justice {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#00f2ff, #ffffff);
  border-color: #ffffff
}

.type-resistance {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#cc1414, #ffffff);
  border-color: #ffffff
}

.type-knowledge {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#e0e036, #ffffff);
  border-color: #ffffff
}

.type-traveller {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#ffffff, #ffffff);
  border-color: #ffffff
}

.type-purity {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#fff29c, #ffffff);
  border-color: #ffffff
}

.type-corruption {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#33115c, #ffffff);
  border-color: #ffffff
}

.type-clonetype {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#b9ff14, #ffffff);
  border-color: #ffffff
}

.type-will {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#d1b31f, #ffffff);
  border-color: #ffffff
}

.type-space-time-control {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#00eb04, #ffffff);
  border-color: #ffffff
}

.type-psychic-control {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#1a12ff, #ffffff);
  border-color: #ffffff
}

.type-shapeshifter {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#8c12ff, #ffffff);
  border-color: #ffffff
}

.type-omnilingualism {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#857618, #ffffff);
  border-color: #ffffff
}

.type-omnipotence {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#00d95e, #ffffff);
  border-color: #ffffff
}

.type-mh {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#777777, #ffffff);
  border-color: #ffffff
}

.type-all {
  background: linear-gradient(#e8fff5, #d62d90);
  background-image: -webkit-linear-gradient(#e6faf9, #33ffd6);
  background-image: linear-gradient(#e6faf9, #33ffd6);
  border-color: #207572
}

.type-light {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#ffe75e, #ffffff);
  border-color: #d4a73f
}

.type-dark {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#1a1a1a, #3f0882);
  border-color: #170230
}

.type-plasma {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#368dff, #87fdff);
  border-color: #ffffff
}

.type-time {
  background: #ffffff;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#2ac20c, #ffffff);
  border-color: #137300
}

.type-weapons {
  background: #acac39;
  background-image: -webkit-linear-gradient(#c7c757, #acac39);
  background-image: linear-gradient(#c7c757, #acac39);
  border-color: #959532
}

.type-fire {
  background: #f08030;
  background-image: -webkit-linear-gradient(#f08030, #dd6610);
  background-image: linear-gradient(#f08030, #dd6610);
  border-color: #b4530d
}

.type-water {
  background: #6890f0;
  background-image: -webkit-linear-gradient(#6890f0, #386ceb);
  background-image: linear-gradient(#6890f0, #386ceb);
  border-color: #1753e3
}

.type-electric {
  background: #f8d030;
  background-image: -webkit-linear-gradient(#f8d030, #f0c108);
  background-image: linear-gradient(#f8d030, #f0c108);
  border-color: #c19b07
}

.type-nature {
  background: #78c850;
  background-image: -webkit-linear-gradient(#78c850, #5ca935);
  background-image: linear-gradient(#78c850, #5ca935);
  border-color: #4a892b
}

.type-ice {
  background: #98d8d8;
  background-image: -webkit-linear-gradient(#98d8d8, #69c6c6);
  background-image: linear-gradient(#98d8d8, #69c6c6);
  border-color: #45b6b6
}

.type-strength {
  background: #c03028;
  background-image: -webkit-linear-gradient(#c03028, #9d2721);
  background-image: linear-gradient(#c03028, #9d2721);
  border-color: #82211b
}

.type-poison {
  background: #a040a0;
  background-image: -webkit-linear-gradient(#a040a0, #803380);
  background-image: linear-gradient(#a040a0, #803380);
  border-color: #662966
}

.type-ground {
  background: #e0c068;
  background-image: -webkit-linear-gradient(#e0c068, #d4a82f);
  background-image: linear-gradient(#e0c068, #d4a82f);
  border-color: #aa8623
}

.type-windold {
  background: #a890f0;
  background-image: -webkit-linear-gradient(#a890f0, #9180c4);
  background-image: linear-gradient(#a890f0, #9180c4);
  border-color: #7762b6
}

.type-wind {
  background: #c3d6f7;
  background-image: -webkit-linear-gradient(#c3d6f7, #9ab8db);
  background-image: linear-gradient(#c3d6f7, #9ab8db);
  border-color: #6e94c2
}

.type-magic {
  background: #f85888;
  background-image: -webkit-linear-gradient(#f85888, #f61c5d);
  background-image: linear-gradient(#5d22b5, #420c94);
  border-color: #210152
}

.type-mind {
  background: #f85888;
  background-image: -webkit-linear-gradient(#f85888, #f61c5d);
  background-image: linear-gradient(#f85888, #f61c5d);
  border-color: #520143
}

.type-bug {
  background: #a8b820;
  background-image: -webkit-linear-gradient(#a8b820, #8d9a1b);
  background-image: linear-gradient(#a8b820, #8d9a1b);
  border-color: #616b13
}

.type-rock {
  background: #b8a038;
  background-image: -webkit-linear-gradient(#b8a038, #93802d);
  background-image: linear-gradient(#b8a038, #93802d);
  border-color: #746523
}

.type-ghost {
  background: #705898;
  background-image: -webkit-linear-gradient(#705898, #554374);
  background-image: linear-gradient(#705898, #554374);
  border-color: #413359
}

.type-dragon {
  background: #7038f8;
  background-image: -webkit-linear-gradient(#7038f8, #4c08ef);
  background-image: linear-gradient(#7038f8, #4c08ef);
  border-color: #3d07c0
}

.type-steel {
  background: #b8b8d0;
  background-image: -webkit-linear-gradient(#b8b8d0, #9797ba);
  background-image: linear-gradient(#b8b8d0, #9797ba);
  border-color: #7a7aa7
}

.type-darkold {
  background: #705848;
  background-image: -webkit-linear-gradient(#705848, #513f34);
  background-image: linear-gradient(#705848, #513f34);
  border-color: #362a23
}

.type-love {
  background: #e898e8;
  background-image: -webkit-linear-gradient(#e898e8, #de6ede);
  background-image: linear-gradient(#e898e8, #de6ede);
  border-color: #d547d5
}

.type-space {
  background: #194fd1;
  background-image: -webkit-linear-gradient(#194fd1, #ebe538);
  background-image: linear-gradient(#194fd1, #ebe538);
  border-color: #1753e3
}

.type-curse {
  background: #68a090;
  background-image: -webkit-linear-gradient(#68a090, #4e7c6f);
  background-image: linear-gradient(#68a090, #4e7c6f);
  border-color: #41685d
}

.itype {
  color: #555753
}

.itype.normal {
  color: #7a7a57
}

.itype.fire {
  color: #cc6d29
}

.itype.water {
  color: #5d81d6
}

.itype.electric {
  color: #c4a526
}

.itype.grass {
  color: #65a843
}

.itype.ice {
  color: #87bfbf
}

.itype.fighting {
  color: #c03028
}

.itype.poison {
  color: #a040a0
}

.itype.ground {
  color: #ad9551
}

.itype.flying {
  color: #8471bd
}

.itype.psychic {
  color: #de4f7a
}

.itype.bug {
  color: #909e1b
}

.itype.rock {
  color: #857329
}

.itype.ghost {
  color: #5e4a80
}

.itype.dragon {
  color: #7038f8
}

.itype.steel {
  color: #9797ab
}

.itype.dark {
  color: #574438
}

.itype.fairy {
  color: #d044d0
}

table {
  background-color: #fff;
}

tr:hover {
  background-color: #f5f5f5
}

th,
td {
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

td:first-of-type {
  width: 130px;
}

.character-info p {
    margin: 0;
}
